!!! 5
html
  head
    title Subway
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('subway')
    != css('subway-mobile')
    != css('persona-buttons')

    script
      var ENV = '#{env}',
          PORT = #{port};
    != js('client')
    != js('https://login.persona.org/include.js')
    include templates
  body
    block content
